bower_components/*
!bower_components/font-awesome/
bower_components/font-awesome/*
!bower_components/font-awesome/css/
bower_components/font-awesome/css/*
!bower_components/font-awesome/css/font-awesome.min.css
!bower_components/json3/lib/json3.lib.js
!bower_components/es5-shim/es5-shim.js
!bower_components/json3/lib/json3.min.js