
<!--<div class="col-xs-4">
    <div class="panel panel-default panel-new">
        <div class="panel-heading">Fields of this calculator</div>
            <ul class="nav nav-pills nav-stacked">
                <li ng-repeat="field in calc.fields" ng-class="(activeField.id === field.id) ? 'active' : ''">
                    <a ng-click="editCalcField(field)">{{field.name}}</a>
                </li>
            </ul>
    </div>
</div>-->

<div class="col-xs-12">
    <div ng-if="activeField.hasOwnProperty('id')">
        <div class="edit-field-body">
            <form role="form">
                <div ng-include="'views/fields/' + activeField.type + '-edit.html'" class="edit-field-nav"></div>
            </form>
        </div>
    </div>
    <div ng-if="!activeField.hasOwnProperty('id')" class="select-field-info text-muted text-center">
        Select the field you want to edit <i class="fa fa-hand-o-right"></i>
    </div>
</div>