<div class="row-fluid" style="max-width: 600px; margin: auto;">
    <div class="col-lg-12">
        <h1 ng-if="!calc.id">
            <span>New calc basic setting</span>
        </h1>
        <uib-alert ng-if="!calc.id" ng-repeat="alert in alerts" type="alert.type">{{alert.msg}}</uib-alert>
        <form class="form-horizontal" role="form">
            <div class="form-group">
                <label for="calcName" class="col-md-12">Name</label>
                <div class="col-md-12">
                    <input type="text" ng-model="calc.name" class="form-control" placeholder="Enter name of the calculator" id="calcName">
                </div>
            </div>
            <div class="form-group row">
                <label for="calcDesc" class="col-md-12">Description</label>
                <div class="col-md-12">
                    <textarea ng-model="calc.description" class="form-control" id="calcDesc"></textarea>
                </div>
            </div>
            <div class="form-group row">
                <label for="calcLang" class="col-md-12">Language</label>
                <div class="col-md-12">
                    <select ng-model="selectedLanguage" ng-options="l.name for l in languages.items" ng-init="loadLanguages()" ng-change="changeLanguage(selectedLanguage)" id="calcLang" class="form-control">
                        <option value="">-- choose language --</option>
                    </select>
                </div>
            </div>
            <div ng-if="calc.id" class="form-group row">
                <label for="calcTheme" class="col-md-12">Theme</label>
                <div class="col-md-12">
                    <select ng-model="calc.params.theme" id="calcTheme" class="form-control">
                        <option value="">Default</option>
                        <option value="dark-background">Dark Background</option>
                        <option value="gradient">Gradient</option>
                        <option value="bordered">Bordered</option>
                        <option value="plain">Plain</option>
                    </select>
                </div>
                <label for="calcColorScheme" class="col-md-12">Color Scheme</label>
                <div class="col-md-12">
                    <select ng-model="calc.params.colorScheme" id="calcColorScheme" class="form-control">
                        <option value="">Default</option>
                        <option value="blue">Blue</option>
                        <option value="red">Red</option>
                        <option value="green">Green</option>
                        <option value="dark">Dark</option>
                    </select>
                </div>
            </div>
            <div class="form-group">
                <label class="col-md-12">Tags</label>
                <div class="col-md-12">
                    <tags-input ng-model="calc.tags" class="bootstrap">
                        <auto-complete source="loadTags($query)" min-length="1"></auto-complete>
                    </tags-input>
                </div>
            </div>
            <div ng-if="calc.id">
                <div class="form-group row">
                    <label class="col-md-12">Is finished<em>When a calculator <kbd>Is finished</kbd>, you can embed it and when <kbd>Is private</kbd> as well, anyone can see it, rate it, copy it and embed it.</em></label>
                        <div class="btn-group col-md-12">
                            <button type="button" class="btn btn-default" ng-model="calc.finished" uib-btn-radio="1" ng-class="{active: calc.finished == 1}">Yes</button>
                            <button type="button" class="btn btn-default" ng-model="calc.finished" uib-btn-radio="0" ng-class="{active: calc.finished == 0}">No</button>
                        </div>
                </div>
                <div class="form-group row">
                    <label class="col-md-12">Calculator is<em>Anyone can see, rate, copy and embed a <kbd>Public</kbd> calculator. A <kbd>Private</kbd> calculator can see and embed only it's author. This feature will work only if your membership enables it.</em></label>
                        <div class="btn-group col-md-12">
                            <button type="button" class="btn btn-default" ng-model="calc.private" uib-btn-radio="0" ng-class="{active: calc.private == 0}">Public</button>
                            <button type="button" class="btn btn-default" ng-model="calc.private" uib-btn-radio="1" ng-class="{active: calc.private == 1}" >Private</button>
                        </div>
                </div>
                <div class="form-group row">
                    <label class="col-md-12">Signature<em>You can hide <kbd>Calculoid Signature</kbd> below embeded calculators. This feature will work only if your membership enables it.</em></label>
                        <div class="btn-group col-md-12">
                            <button type="button" class="btn btn-default" ng-model="calc.signature" uib-btn-radio="1" ng-class="{active: calc.signature == 1}">Show</button>
                            <button type="button" class="btn btn-default" ng-model="calc.signature" uib-btn-radio="0" ng-class="{active: calc.signature == 0}">Hide</button>
                        </div>
                </div>
                <div class="form-group row">
                    <label class="col-md-12">Notifications<em>Calculoid will send you email notifications if the view limit will be at 80% and when it will be overcome so you'd be aware of what's going on. You can switch them off if you find them annoying.</em></label>
                        <div class="btn-group col-md-12">
                            <button type="button" class="btn btn-default" ng-model="calc.notify" uib-btn-radio="1" ng-class="{active: calc.notify == 1}">Yes</button>
                            <button type="button" class="btn btn-default" ng-model="calc.notify" uib-btn-radio="0" ng-class="{active: calc.notify == 0}">No</button>
                        </div>
                </div>
                <div class="form-group row">
                    <label for="separatorThousand" class="col-md-12">Thousand separator</label>
                    <div class="col-md-12">
                        <select ng-model="calc.params.separatorThousand" id="separatorThousand" class="form-control">
                            <option value=",">Comma</option>
                            <option value=".">Dot</option>
                            <option value="espace">Space</option>
                        </select>
                    </div>

                    <label for="separatorDecimal" class="col-md-12">Decimal separator</label>
                    <div class="col-md-12">
                        <select ng-model="calc.params.separatorDecimal" id="separatorDecimal" class="form-control">
                            <option value=",">Comma</option>
                            <option value=".">Dot</option>
                        </select>
                    </div>
                </div>
            </div>
            <div ng-if="!calc.id" class="form-group">
                <div class="col-md-12 pull-right">
                    <button type="button" class="btn btn-success" onclick="new_calc = true;" ng-click="saveCalcConfig()">
                        <span><i class="fa fa-floppy-o"></i> Save configuration </span>
                    </button>
                </div>
            </div>
            <div ng-if="calc.id" class="form-group">
                <a ng-click="deleteReally()" class="text-danger pull-right">
                    <i class="fa fa-times"></i> Delete Calculator
                </a>
            </div>
        </form>
    </div>
</div>