<div class="row">
    <div class="col-md-12">
        <label for="inputMauticUrl">Mautic URL<small>

        </small></label>
        <input type="url" ng-model="calc.params.mauticUrl" placeholder="http://" class="form-control" id="inputMauticUrl" onblur="checkURL(this)">
    </div>
    <div class="col-md-12">
        <label for="inputmauticFormId">Mautic Form ID<small>

        </small></label>
        <input type="text" ng-model="calc.params.mauticFormId" class="form-control" id="inputmauticFormId">
    </div>
    <div class="col-md-12">
        <h3>Field mapping</h3>
            <div class="animate-repeat" ng-repeat="(fieldid, fielddata) in calc.fields">
                <div ng-if="fielddata.type!='payment' && fielddata.type!='html'&& fielddata.type!='email'">
                    <label ng-for="inputmautic{{fieldid}}">{{fielddata.name}}</label>
                    <input type="text" ng-model="calc.params.mauticfield[fieldid]" class="form-control" ng-id="inputmautic{{fieldid}}">
                </div>
            </div>
        <label ng-for="inputmauticsubmit">Submit/payment email</label>
        <input type="text" ng-model="calc.params.mauticfield['submit']" class="form-control" ng-id="inputmauticsubmit">
    </div>
</div>